
#cartModal
{
    height: 280px;
}

#cartCount
{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -85px;
    margin-left: 800px;
    border: 1px solid red;
    background-color: red;
    width: 2.5%;
    border-radius: 50%;
}

